@model Domain.Gost

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    
    <p class="text-uppercase">Izmeni</p>
    <hr />
    <div class="row">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GostID" class="control-label"></label>
                <input asp-for="GostID" class="form-control" />
                <span asp-validation-for="GostID" class="text-danger"></span>
            </div>
            <div class="row2">
                <div class="form-group">
                    <label asp-for="Ime" class="control-label"></label>
                    <input asp-for="Ime" class="form-control" />
                    <span asp-validation-for="Ime" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 1em">
                    <label asp-for="Prezime" class="control-label"></label>
                    <input asp-for="Prezime" class="form-control" />
                    <span asp-validation-for="Prezime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="row2">
                <div class="form-group">
                    <label asp-for="Telefon" class="control-label"></label>
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 1em">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-outline-dark btn-block"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </form>
    </div>
</div>

<img src="~/images/Gosti1.jpg" class="slika" />

<div class="video">
    <div class="color-overlay"></div>
    <video autoplay loop muted style="width: 100%; height: 100%;">
        <source src="~/videos/Pexels Videos 2547258.mp4" type="video/mp4">
    </video>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<style>
    .slika {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        overflow: hidden;
    }

    .card {
        position: relative;
        top: 2em;
        bottom: 2em;
        padding: 2em;
        margin: 0em 20em 0em 20em;
        opacity: 0.8;
        justify-content: center;
        z-index: 10;
    }
    .row{
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .row2{
        display:flex;
        flex-direction: row;
    }

    .card p {
        text-align: center;
        letter-spacing: 5px;
    }
</style>
