@model TravelAgency.Models.LoginVM


@{
    ViewData["Title"] = "Log in";
}


<div class="hold-transition login-page">
    <div class="login-box">
        <h4>Dobrodosli!</h4>
        
        <div class="card" style="z-index:10;">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Uloguj se za pocetak rada</p>


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" asp-for="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Zapamti me
                                </label>
                            </div>
                        </div>

                        <div>

                            <button type="submit" value="Login" class="btn btn-primary btn-block" asp-action="Login">Uloguj se</button>
                        </div>

                    </div>
                </form>


            </div>
            
        </div>
    </div>

</div>
<img src="~/images/Login11.jpg" class="slika" />
<style>
    .slika {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
        overflow: hidden;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
